In [ ]:
# https://qiita.com/y_itoh/items/aaa2056aac0c270ba7d2

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data_chiller.csv', encoding='utf-8')
df.head()

   残熱量  外気温  設定時間  利用
0   30   18     7   1
1   30   17     7   1
2   20   33     7   1
3   25   26     7   1
4   22   25     7   1

In [4]:
# 数値計算に必要なライブラリ
import numpy as np

# グラフを描画するパッケージ
import matplotlib.pyplot as plt

# 機械学習ライブラリscikit-learnの線形モデル
from sklearn import linear_model

In [5]:
# 目的変数のみ削除して変数Xに格納
X = df.drop("残熱量", axis=1)

# 目的変数のみ抽出して変数Yに格納
Y = df["残熱量"]

print(X)
print(Y)

   外気温  設定時間  利用
0   18     7   1
1   17     7   1
2   33     7   1
3   26     7   1
4   25     7   1
5   26     7   1
6   17     7   1
7   14     7   1
8   15     7   1
0    30
1    30
2    20
3    25
4    22
5    21
6    30
7    35
8    40
Name: 残熱量, dtype: int64

In [6]:
model = linear_model.LinearRegression()

In [7]:
model.fit(X,Y)

LinearRegression()

In [8]:
model.coef_

array([-0.93344371,  0.        ,  0.        ])

In [9]:
# 変数coefficientに係数の値を格納
coefficient = model.coef_

# データフレームに変換し、カラム名とインデックス名を指定
df_coefficient = pd.DataFrame(coefficient,
                              columns=["係数"],
                              index=["外気温", "設定時間", "勤務"])
df_coefficient

            係数
外気温  -0.933444
設定時間  0.000000
勤務    0.000000

In [10]:
model.intercept_

47.920860927152304

In [11]:
model.score(X, Y)

0.8056882469594416